{:name "ui-binaryclock"
 ;build
 :lazy true
 :cljs-namespace [ui.binaryclock]
 :cljs-ns-bindings {'ui.binaryclock {'binary-clock ui.binaryclock/binary-clock}}
 ; theme
 :theme {:available  {:clock {true ["binaryclock/clock.css"]}}
         :current {:clock true}}


 }
