{:name "ui-binaryclock"
 :clj-require []
 :cljs-namespace [ui.binaryclock.goldly]
 :cljs-bindings {}
 :cljs-ns-bindings {}
 :theme {:available  {:clock {true ["binaryclock/clock.css"]}}
         :current {:clock true}}
 :snippets [{:type :pinkie
             :category :clock
             :id :clock
             :filename "snippets/binaryclock/clock.edn"}]
 ; modules and pinkie not yet via loader
 :pinkie {}
 :modules {}}