{:name "ui-binaryclock"
 :clj-require []
 :theme {:available  {:clock {true ["binaryclock/clock.css"]}}
         :current {:clock true}}
 :cljs-namespace [ui.binaryclock.clock]
 :cljs-bindings {'clock ui.binaryclock.clock/binary-clock}
 :cljs-ns-bindings {}
 :pinkie {:p/clock ui.binaryclock.clock/binary-clock}
 :modules {} ; ; modules not yet via loader
 :snippets [{:type :pinkie
             :category :clock
             :id :clock
             :filename "snippets/binaryclock/clock.edn"}]}